:root {
  --red-secondary: #f0134d;
  --red-primary: #b84422;

  --brown: #c48741;
  --blue: #40bfc1;
  --yellow: #f2d50f;
  --dark: #331e12;
  --gray: #f4edb2;
  --gray-light: #ccc;
  --green: #678f0a;
}
