.OrderSummary {
}

.title {
  margin-bottom: 1rem;
}

.OrderSummary ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
  font-size: 1rem;
}

.OrderSummary ul li {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.OrderSummary ul li div {
  width: 100%;
  text-align: right;
}

.price {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.button {
  background: transparent;
  outline: none;
  border: none;
  margin-left: 1rem;
  font-size: 1rem;
}

.green {
  color: green;
}

.red {
  color: var(--red-secondary);
}
