.AbsoluteWrapper {
  position: absolute;
  width: 100vw;
  top: 50%;
  margin: auto;
}

.Auth {
  margin: 30px;
  width: 80%;
  text-align: center;
}

/* @media (min-width: 600px) {
  .Auth {
    width: 500px;
    margin: 30px auto;
  }
} */
